.slider {
    position: relative;
    display: block;
    height: 500px;
    width: 650px;
    background-color: var(--black);
    margin: 30px auto;
    overflow: hidden;
    .slider_container {
        display: flex;
        transform: translate(0);
        transition: transform 0.8s ease;
        height: 100%;
        padding: 30px 0;
        object-fit: contain;
        //width: 100%;
        .slider_img {
            width: 100%;
        }
    }

    // .active {
    //     display: block;
    // }

    .arrow_container {
        position: absolute;
        top: 45%;
        background-color: transparent;
        color: var(--blue);
        height: 50px;
        width: 50px;
        border: none;
    }
    .chevron_right {
        right: 2%;
        width: 50px;
        cursor: pointer;
    }

    .chevron_left {
        left: 2%;
        cursor: pointer;
    }
    .slider_dots_container {
        position: absolute;
        width: 100%;
        bottom: 0;

        .slider_dots_list {
            display: flex;
            justify-content: center;
            gap: 2%;
            padding: 10px 0 10px 0;

            .slider_dot {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: none;
                background-color: var(--blue);
                cursor: pointer;
            }
            .active {
                background-color: #ffffff;
            }
        }
    }
}

@media only screen and (max-width: 670px) {
    .arrow_container {
        color: var(--white) !important;
    }
}
